---
const allProjects = await Astro.glob("../pages/projects/*.mdx");
---

<nav class="project-navigation p-2 md:p-6 lg:p-12 xl:p-16 my-8">
  <ul class="project-list">
    {
      allProjects.map((project, index) => (
        <li
          class="project-item pt-8 pb-4 flex flex-col lg:flex-row lg:items-center lg:justify-between border-b border-b-stone-950 dark:border-b-stone-50 last-of-type:border-0 lg:hover:font-extrabold transition-all"
          id={project.frontmatter.title}
          data-index={index}
        >
          <a
            href={project.url}
            class="project-label flex flex-row items-baseline"
          >
            <span class="text-sm">{"0" + (index + 1)}</span>
            <span class="font-heading text-3xl xl:text-5xl text-balance p-2 hover:tracking-wide transition-all">
              {project.frontmatter.title}
            </span>
          </a>
          {project.frontmatter.tags && (
            <span class="project-types ms-2 p-4 flex flex-row flex-wrap gap-2">
              {project.frontmatter.tags.map((tag: any) => (
                <a
                  href={`tags/${tag}`}
                  class="tag text-xs p-2 text-teal-950 dark:text-white bg-white/5 dark:bg-teal-500/5 hover:bg-teal-500/10 dark:hover:bg-white/20 border-teal-950 dark:border-white border rounded-full text-nowrap inline-block hover:scale-105 transition-all"
                >
                  {tag}
                </a>
              ))}
            </span>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .project-list:hover .project-item:not(:hover) {
    opacity: 0.5;
  }
</style>
