---
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
import { Icon } from "astro-icon/components";
---

<nav class="project-navigation p-2 md:p-6 lg:p-12 xl:p-16 my-8">
  <ul class="project-list">
    {
      allProjects.map((project, index) => (
        <li
          class="project-item pt-8 pb-4 flex flex-col lg:flex-row lg:items-center lg:justify-between border-b border-b-teal-950 dark:border-b-zinc-50 last-of-type:border-0 transition-all"
          id={project.data.title}
          data-index={index}
        >
          <a
            href={`/thdesign/projects/${project.slug}/`}
            class="project-label flex flex-row items-baseline"
          >
            <span class="text-sm">{"0" + (index + 1)}</span>
            <span class="font-heading font-medium text-zinc-950 dark:text-white text-3xl xl:text-5xl 2xl:text-6xl text-balance p-2 lg:hover:font-extrabold transition-all">
              {project.data.title}
            </span>
            <span class="arrow block relative overflow-hidden h-8 w-8 lg:h-12 lg:w-12 -ml-2 lg:-ml-4">
              <Icon
                class="icon text-4xl lg:text-6xl p-0 m-0 -left-12 absolute"
                name="uil:angle-right"
              />
            </span>
          </a>
          {project.data.tags && (
            <span class="project-types ms-2 p-4 flex flex-row flex-wrap gap-2">
              {project.data.tags.map((tag: any) => (
                <a
                  href={`/thdesign/tags/${tag}`}
                  class="text-xs opacity-0 p-2 text-teal-950 dark:text-amber-50 bg-white/5 dark:bg-teal-500/5 hover:bg-teal-500/10 dark:hover:bg-amber-500/20 border-teal-950 dark:border-amber-50 border rounded-full text-nowrap inline-block transition-all"
                  id={`tag-${tag}`}
                >
                  {tag}
                </a>
              ))}
            </span>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .project-list:hover .project-item:not(:hover) {
    opacity: 0.5;
  }

  .project-item:hover .project-types a {
    opacity: 1;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
  }
  .project-label:hover .arrow > .icon {
    left: 0;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }
</style>
