---
interface Project {
  title: string;
  desc: string;
  isPublic: boolean;
  tags?: string[];
  url?: string;
}

const projects: Project[] = [
  {
    title: "Project Wylie Dog",
    desc: "",
    isPublic: true,
    tags: ["Design System", "Front End Development", "Hobby Project"],
  },
  {
    title: "El Camino Skate Shop",
    desc: "",
    isPublic: true,
    tags: ["Branding", "Site Design", "Front End Development"],
  },
  {
    title: "Moxie Beauty Studio",
    desc: "",
    isPublic: true,
    tags: ["Site Design", "Front End Development"],
  },
  {
    title: "Buddyhead",
    desc: "",
    isPublic: true,
    tags: ["Site Design", "Front End Development"],
  },
  {
    title: "Denver Digital Agency",
    desc: "",
    isPublic: true,
    tags: ["UX Design", "Site Design"],
  },
  {
    title: "Reflex Design System",
    desc: "",
    isPublic: true,
    tags: ["Design Lead"],
  },
  {
    title: "Past Work Showcase",
    desc: "",
    isPublic: true,
    tags: ["Various Roles"],
  },
];
---

<nav class="project-navigation p-2 md:p-6 lg:p-12 xl:p-16 my-8">
  <ul class="project-list">
    {
      projects.map((project, index) => (
        <li
          class="project-item py-4 my-4 border-b border-b-stone-950 dark:border-b-stone-50"
          id={project.title}
          data-index={index}
        >
          <div class="project-label flex flex-col md:flex-row md:justify-between md:items-end">
            <h2 class="font-heading text-3xl xl:text-5xl text-balance p-2">
              <span class="text-sm">{"0" + (index + 1)}</span>
              {project.isPublic ? (
                <a href="#0" class="hover:font-extrabold transition-all">{project.title}</a>
              ) : (
                <span class="opacity-50">{project.title}</span>
                <span class="text-sm italic">Coming Soon</span>
              )}
            </h2>
            {project.tags && (
              <div class="project-types ms-2 px-4 md:p-4">
                {project.tags.map((tag) => (
                  <span class="tag p-2 text-xs lg:text-sm">{tag}</span>
                ))}
              </div>
            )}
          </div>
        </li>
      ))
    }
  </ul>
</nav>
