---
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
import Button from "../components/Button.astro";
---

<nav class="project-navigation p-2 md:p-6 lg:p-12 xl:p-16 my-8">
  <ul class="project-list">
    {
      allProjects.map((project, index) => (
        <li
          class="project-item pt-8 pb-4 flex flex-col lg:flex-row lg:items-center lg:justify-between border-b border-b-stone-950 dark:border-b-stone-50 last-of-type:border-0 lg:hover:font-extrabold transition-all"
          id={project.data.title}
          data-index={index}
        >
          <a
            href={`projects/${project.slug}/`}
            class="project-label flex flex-row items-baseline"
          >
            <span class="text-sm">{"0" + (index + 1)}</span>
            <span class="font-heading text-3xl xl:text-5xl text-balance p-2 hover:tracking-wide transition-all">
              {project.data.title}
            </span>
          </a>
          {project.data.tags && (
            <span class="project-types ms-2 p-4 flex flex-row flex-wrap gap-2">
              {project.data.tags.map((tag: any) => (
                <form action={`tags/${tag}`}>
                  <Button variant="tag" size="sm" type="submit">
                    {tag}
                  </Button>
                </form>
              ))}
            </span>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .project-list:hover .project-item:not(:hover) {
    opacity: 0.5;
  }
</style>
