---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1
    class="font-heading text-teal-950 dark:text-white text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl 3xl:text-9xl text-balance p-6 lg:p-12 xl:p-16 my-8"
  >
    {frontmatter.title}
  </h1>
  <section class="about-me p-6 lg:p-12 xl:p-16 my-8">
    <!-- <p class="mb-4">Written by {frontmatter.author}</p> -->
    <ul class="flex flex-row flex-wrap gap-1 mb-8">
      {
        frontmatter.tags.map((tag: any) => (
          <form action={`/thdesign/tags/${tag}`}>
            <Button variant="tag" size="sm" type="submit">
              {tag}
            </Button>
          </form>
        ))
      }
    </ul>
    <slot />
  </section>
</Layout>
